#images{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: 10px;

}

#s-i{
    height: auto;
    width: 20vh;
    margin: 25px;
    padding-top: 100px;
}

#images img{
    height: auto;
    width: 40vh;
}

h2#desc, h2#desc2{
    color: white;
    font-size: 16px;
    padding: 20px;
    width: 900px;
    text-align: center;
    margin-left: 10%;
}

#images > div:nth-child(1) > img, #images > div:nth-child(3) > img{
    padding-top: 5%;
    height: auto;
}

#main-standard, #main-deluxe{
    width: 50%;
    height: 50%;
    margin-left: 25%;
    object-fit: cover;
    object-position: 35%;
}

#images > div:nth-child(2) > img{
    height: 36vh;
    width: auto;
}

h2#s-t, h2#d-t{
    left: 400px;
    width: 413px;
    margin: 50px;
}

.separator{
    position: absolute;
    left: 15%;
    height: 5px;
    width: 75%;
    background-color: #e67700;
    margin-bottom: 30px;
}