.contact{
    background-color: black;
    height: 663px;
}

.contact p, .contact h2{
    color: white;
}

.contact-main{
    background-color: #e67700;
    height: 500px;
    width: 500px;
    padding: 20px;
    margin-left: 33%;
    margin-bottom: 50%;
}

.contact input{
    padding: 5px;
    margin-top: 50px;
    align-self: center;
}

.contact input[type=text]{
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    display: inline-block;
    border-style: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact button{
    background-color: white;
    border-style: none;
    border-radius: 10%;
}

.contact button:hover{
    background-color: whitesmoke;
    box-shadow: black;
}

.contact input#message{
    height: 200px;
    margin-bottom: 50px;
}

.contact p{
    font-size: medium;
}