#nav {
  all: unset;
  position: sticky;
  top: 0;
  color: rgba(255, 255, 255, 0.442);
  margin: 15px;
  color: white;
  border-radius: 5px;
  border-width: 2px;
}

#nav:hover {
  font-weight: bolder;
}

#color-nav {
  background: radial-gradient(
      circle at center,
      #e67700,
      #d36d01,
      #bb6101,
      #9c5101,
      #9f5301
    ),
    100%;
  border-radius: 5px;
  width: 100%;
}
