#nav{
  all: unset;
  position: sticky;
  top: 0;
  color: rgba(255, 255, 255, 0.442);
  margin: 15px;
  color: white;
  border-radius: 5px;
  border-width: 2px;
}

#nav:hover{
  font-weight:bolder;
}

.color-nav, #color-nav{
  position: sticky;
  top: 0;
  background-color: #e67700;
}