#nav{
    all: unset;
    color: rgba(255, 255, 255, 0.442);
    margin: 15px;
    font-style: bold;
    color: white;
    border-radius: 5px;
    border-width: 2px;
    background-color: #e67700;
  }

  #navbar, #cont #navsect{
    background-color: #e67700;
  }

  #nav:hover{
    color: white;
  }