#container{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border-color: #e67700;
    border-width: 2px;
    border-style: solid;
}

#cards{
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border-color: #e67700;
    border-width: 2px;
    border-style: solid;
}

.button{
    float: right;
    width: 25%;
}