.find-us-text h3 {
    color: rgb(255, 255, 255);
}

.find-us-text h1 {
    color: #e67700;
    margin: 50px auto;
    margin-top: 5%;
    font-size: 40px;
}

.menu1 {
    margin-bottom: 10%;
    margin-top: 25%;
}

.find-us-sidebar {
    background: #000000;
}